.App {
  color: palevioletred;
  background-color: grey;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.clock{
  background-color: black;
}
